YANDEX_SMTP_HOST=smtp.yandex.ru
YANDEX_SMTP_PORT=465
YANDEX_SMTP_SECURE=true
YANDEX_SMTP_USER=hello@hawkingbros.com
YANDEX_SMTP_PASS=your_yandex_app_password

FEEDBACK_FROM_EMAIL=hello@hawkingbros.com
FEEDBACK_TO_EMAIL=hello@hawkingbros.com
